body{
    background-color: #F6F9F4;
}

h2 {
    font-family: 'Righteous', cursive;
    width: auto;
    margin: auto;
    border-bottom: 5px #AACE9B solid;
}

input {
    font-size: 12px;
    padding: 5px;
    border: 1px #373867 solid;
    border-radius: 4px;
}

button {
    width: 100px;
    padding: 5px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    color: #000;
}

label {
    font-size: 13px;
    margin-top: 15px;
}

main {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #AACE9B;
}

button:hover {
    background-color: #809B75;
    color: #FFF;
    font-weight: 600;
}

li {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

footer {
    margin-top: 300px;
}

.hidden-info > ul {
    margin-top: 15px;
    background-color: #a4ed85;
}

.container-signup {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    width: 50%;
    height: 800px;
    background-color: #FFF;
    border: none;
}

.input-label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.message-container {
    display: none;
}

.valid-field {
    display: flex;
    color: #3cb414;
    font-size: 10px;
    font-weight: 600;
    margin-top: 3px;
}

.invalid-field {
    display: flex;
    color: #FF0000;
    font-size: 10px;
    font-weight: 600;
    margin-top: 3px;
}

.hidden-info {
    display: none;
}

@media (min-width: 768px) {
    h2 {
        width: fit-content;
    }
}

@media (min-width: 1024px) {
    .inputs {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 0 50px 50px;
    }
    
    footer {
        margin-top: 0;
    }
}