h2 {
    font-family: 'Righteous', cursive;
    width: auto;
    border-bottom: 5px #AACE9B solid;
}

input {
    font-size: 12px;
    padding: 5px;
    border: 1px #373867 solid;
    border-radius: 4px;
}

.checkbox {
    margin: 10px;
}

button {
    width: 100px;
    padding: 5px;
    margin: 10px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    color: #000;
}

button[type="submit"] {
    background-color: #AACE9B;
}

button[type="submit"]:hover {
    background-color: #809B75;
    color: #FFF;
    font-weight: 600;
}

button[type="reset"] {
    border: 2px #AACE9B solid;
    background-color: #FFFFFF;
}

button[type="reset"]:hover {
    background-color: #f0f0f0;
    font-weight: 600;
}

label {
    font-size: 13px;
    margin-top: 15px;
}

a {
    margin: 10px;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    width: 50%;
    height: 500px;
    background-color: #F6F9F4;
    border-radius: 20px;
    border: 0.5px #373867 solid;
}

.input-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputs, .buttons-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-message {
    display: none;
}

.valid-field {
    display: flex;
    color: #40FF00;
    font-size: 10px;
}

.invalid-field {
    display: flex;
    color: #FF0000;
    font-size: 10px;
}

.data-fields {
    
}