main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: auto;
    background-color: #FFF;
}

.intro {
    display: flex;
    align-content: center;
    margin-top: 50px;
}

.intro .article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro .article p {
    max-width: 450px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.intro button {
    width: 220px;
    margin: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px #AACE9B solid;
    border-radius: 80px;
    background-color: #FFF;
    color: #000;
}

.intro div img {
    width: 100%;
    max-width: 800px;
    margin-bottom: 80px;
}

/* Section: Functions */

.functions .div-functions div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.functions .div-functions h3 {
    letter-spacing: 5%;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #000;
}

.functions .div-functions img {
    width: 84px;
    height: 84px;
    padding: 30px;
}

.functions .div-functions p {
    max-width: 250px;
    letter-spacing: 5%;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #000;
}

/* Section: Assets */

.assets div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assets div img {
    width: 100%;
    max-width: 450px;
    border-radius: 23px;
}

.assets div h3 {
    margin: 30px 0;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #000
}

.assets div p {
    width: 100%;
    max-width: 400px;
    letter-spacing: 5%;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #000
}

.assets div button {
    width: 95px;
    padding: 10px;
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    background-color: #AACE9B;
    color: #000;
}

/* Section: Form */

.form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    width: 100%;
}

.form div form input {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 5px;
    border: 1px #373867 solid;
    border-radius: 4px;
}

.form input, .form select {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 5px;
    border: 1px #373867 solid;
    background-color: #FFF;
    color: #C4C4C4;
    border-radius: 4px;
}

.form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 5px;
    border: 1px #373867 solid;
    color: #C4C4C4;
    border-radius: 4px;
}

.form button[type="submit"] {
    width: 160px;
    padding: 5px;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    background-color: #AACE9B;
    color: #000;
}

.form button[type="reset"] {
    width: 100px;
    padding: 5px;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px #AACE9B solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #000;
}

/* Section: About us */

.about-us div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.about-us div p {
    font-family: 'Roboto', sans-serif;
    line-height: 35px;
    letter-spacing: 5%;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-us div img {
    width: 260px;
    border-radius: 23px;
}

/* Section: Lists */

section.lists {
    border-bottom: none;
}

.lists div {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 30px 0;
}

.lists div h3 {
    padding: 20px;
    text-align: center;
    width: 209px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 33px;
    color: #000;
    border-bottom: 6px #AACE9B solid;
}

.lists div ol {
    list-style: decimal;
    margin-top: 30px;
}

.lists div li {
    margin-left: 35px;
    line-height: 55px;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 33px;
    color: #000;
}

@media (min-width: 768px) {
    .intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .intro div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .functions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .functions div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .functions .div-functions div {
        align-items: flex-start;
        text-align: left;
    }

    .assets {
        align-items: flex-start;
    }

    .assets div {
        align-items: flex-start;
        text-align: left;
    }

    .about-us {
        align-items: flex-start;
        text-align: left;
    }

    .about-us div {
        flex-direction: row;
    }

    .about-us img {
        min-width: 40%;
    }

    .lists {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .functions .div-functions {
        flex-wrap: nowrap;
        width: 45%;
    }

    .functions div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .assets div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .assets div div {
        width: 40%;
    }

    .form {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
    }

    .form div {
        flex-direction: row;
    }

    form input {
        max-width: 49.5%;
    }

    .about-us img {
        min-width: 50%;
    }
}